<!--  -->
<!-- <ul class="heroes">
    <app-task *ngFor="let task of tasks; let i = index" [task]="task"></app-task>
</ul> -->

<mat-list style="width: 500px; border: 1px solid black;">
    <app-task *ngFor="let task of tasks; let i = index" [task]="task" (addTaskEmitter)="addTask($event)"></app-task>
</mat-list>




<!-- <mat-list-item fxLayoutGap="20px">
        <mat-checkbox style="margin-right:15px;"></mat-checkbox>
        {{ task.title }}Finish homework
        <span class="spacer"></span>
        <button mat-raised-button color="warn" class="delete-btn_" style="margin-left:200px;">Delete</button>
    </mat-list-item> -->



<!-- <mat-selection-list #shoes class="docs-example-viewer-body">
    <mat-list-option *ngFor="let shoe of typesOfShoes">
        <p class="todo-title_">{{shoe}}</p>
        <button mat-raised-button color="warn"
            class="delete-btn_">Delete</button>
    </mat-list-option>
</mat-selection-list> -->




<!-- <mat-list>
    <mat-list-item *ngFor="let folder of folders">
        <h3 matLine> {{folder.name}} </h3>
        <p matLine> {{folder.updated}} </p>
        <p matLine class="demo-2"> {{folder.name}} </p>
    </mat-list-item>
</mat-list>


<mat-list>
    <mat-list-item *ngFor="let folder of folders">
        <mat-icon matListIcon>folder</mat-icon>
        <h3 matLine> {{folder.name}} </h3>
        <p matLine>
            <span> {{folder.updated}}</span>
            <span class="demo-2"> -- {{folder.name}}</span>
        </p>
    </mat-list-item>
</mat-list> -->


<!--
<mat-list>
    <h3 matSubheader>Folders</h3>
    <mat-list-item *ngFor="let folder of folders">
        <mat-icon matListIcon>folder</mat-icon>
        <h4 matLine>{{folder.name}}</h4>
        <p matLine class="demo-2"> {{folder.updated}} </p>
    </mat-list-item>
    <mat-divider></mat-divider>
    <h3 matSubheader>Notes</h3>
    <mat-list-item *ngFor="let note of notes">
        <mat-icon matListIcon>note</mat-icon>
        <h4 matLine>{{note.name}}</h4>
        <p matLine class="demo-2"> {{note.updated}} </p>
    </mat-list-item>
</mat-list>

<hr>

<mat-list>
    <mat-list-item *ngFor="let message of messages">
        <img matListAvatar src="..." alt="...">
        <h3 matLine> {{message.from}} </h3>
        <p matLine>
            <span> {{message.subject}}
            </span>
            <span class="demo-2"> -- {{message.content}}
            </span>
        </p>
    </mat-list-item>
</mat-list>

<hr>

<mat-list>
    <mat-list-item *ngFor="let message of messages">
        <mat-icon matListIcon>folder</mat-icon>
        <h3 matLine> {{message.from}} </h3>
        <p matLine>
            <span> {{message.subject}}
            </span>
            <span class="demo-2"> -- {{message.content}}
            </span>
        </p>
    </mat-list-item>
</mat-list> -->
<!-- <p>
    Options selected: {{shoes.selectedOptions.selected.length}}
</p> -->