<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>Keep Blue</span>
        <span class="example-spacer"></span>
        <!-- <mat-icon class="example-icon">favorite</mat-icon>
        <mat-icon class="example-icon">delete</mat-icon> -->
        <app-completed></app-completed>
    </mat-toolbar-row>
</mat-toolbar>


<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand">Keep Blue</a>
    <span class="navbar-text navbar-text-padding_">
        <app-completed></app-completed>
    </span>
</nav> -->