<form class="example-form" style="width: 500px; border: 1px solid black;">
    <mat-form-field class="example-full-width">
        <input matInput #taskTitle [(ngModel)]="task.title" placeholder="Take a note..." name="taskTitle" (keyup.enter)="addTask()">
         <!-- (keyup.enter)="addTask()" (blur)="addTask()" -->
    </mat-form-field>
    <!-- <button mat-raised-button (click)="addTask()" color="primary">Add</button> -->
</form>



<!-- <h2>My Heroes</h2>

    <div>
        <label>Hero name:
            <input #heroName />
        </label>
        (click) passes input value to add() and then clears the input
        <button (click)="add(heroName.value); heroName.value=''">
            add
        </button>
    </div> -->